.logo Image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.logo {
  /* display: grid;/ */
  /* place-content: center; */
  font-size: 20px;
  height: 20%;
  margin-top: -22px;
  width: 50%;

  /* background-color: red; */
  /* overflow: hidden; */
  /* scale: .7; */
}

.logoThree {
  /* display: grid; */
  /* place-content: center; */
  font-size: 20px;
  width: 50%;
  height: 50%;
  /* background-color: greenyellow; */
}
.nav {
  display: flex;
  align-items: center;
  padding: 1em;
  /* margin-bottom: 20em; */
  position: relative;
  background-color: transparent !important;
  backdrop-filter: blur(4px);
  z-index: 50;
  /* background-color: red; */
  justify-content: space-between;
}
.left {
  display: flex;
  align-items: center;
}
.ul {
  display: flex;
  align-items: center;
  gap: 2em;
}
.link {
  text-decoration: none;
  color: #fff;
  transition: 0.3s ease-in-out;
  font-weight: 600;
}
.language {
  display: flex;
  align-items: center;
  gap: 1em;
  cursor: pointer;
  border-left: 1px solid #626364;
  color: #626364;
  padding: 0 1em;
  /* width: 2em;
  height: 2em; */
  margin: 0 1em;
}
.language Image {
  scale: 1.2;
}
.countryIcon {
  width: 1.5em !important;
  height: 1.5em !important;
  border-radius: 50%;
  display: grid;
  cursor: pointer;
  place-content: center;
  overflow: hidden;
  /* background-color: red; */
}
.profile {
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.right {
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 0 1em;
}
.account {
  display: flex;
  align-items: center;
  gap: 0.5em;
  position: relative;
  cursor: pointer;
}
/* .asideLi::after {
  content: "hello";
  position: absolute;
  right: -60px;
  background-color: red;
  padding: 0.5em;
  width: fit-content;
  z-index: 2;
}
.asideLi::before {
  content: "";
  position: absolute;
  right: -21px;
  width: 0.6em;
  height: 0.6em;
  transform: rotate(45deg);

  background-color: red;
} */

.hold {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}
.gen {
  justify-content: space-between;
}
.modeIcon {
  display: grid;
  place-content: center;
  position: relative;
}

.linkLight {
  color: black !important;
}
.activeNavLink {
  color: #c00 !important;
  font-weight: 600;
  z-index: 1;
}
.activeSideLi {
  border-right: 3px solid #c00;
  color: #c00;
}

.logo {
  display: grid;
  place-content: center;
  font-size: 20px;
  transform: translateY(15px);
  height: 10px;
  /* overflow: hidden; */
}
.logoTwo {
  display: grid;
  place-content: center;
  font-size: 20px;
  height: fit-content;
  width: 100%;
  /* scale: 1.5; */
  transform: translate(-20px, 10px);
}
.logoThree {
  display: grid;
  place-content: center;
  font-size: 20px;
  width: 60%;
  scale: 1.6;
  /* transform: translate(-1.5em, -0./2em); */
  height: fit-content;
}

.Light {
  background: #d3d5db !important;
}
.profileData {
  position: fixed;
  right: 0;
  top: 0;
  /* background-color: red; */
  height: 100vh;
  width: 25vw;
  transition: 0.4s;
  transform: translateX(1000px);
  z-index: 12;
  padding: 1em;
}
.profileData hr {
  margin: 1em;
  background-color: #626364;
}
.showProfile {
  transform: translateX(0);
}
.picSection {
  /* height: 6em; */
  width: 100%;
  margin: 1em 0;
  /* background-color: #c00; */
  border: 1px solid #d3d5db50;
  border-radius: 10px;
  padding: 1em;
  position: relative;
}
.profilePic {
  width: 7em;
  height: 7em;
  /* background-color: red; */
  border-radius: 50%;
  overflow: hidden;
}
.profilePic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.flex {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.personalInfo {
  display: flex;
  margin: 1em 0;
  position: relative;
}
.mainInfo {
  border: 1px solid #d3d5db50;
  padding: 1em;
  display: flex;
  border-radius: 10px;
}
.rowOne,
.rowTwo {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.mainInfo h4,
.picSection h4 {
  color: #626364;
  font-weight: 500;
}
.mainInfo h5,
.picSection h4 {
  /* color: #6f7377; */
  font-weight: 600;
  font-size: 11px;
  margin-bottom: 0.2em;
}
.edit {
  display: flex;
  gap: 0.5em;
  align-items: center;
  border: 1px solid #d3d5db50;
  padding: 0.5em;
  border-radius: 10px;
  width: fit-content;
  position: relative;
  /* left: 55%; */
  cursor: pointer;
}
.editTwo {
  display: flex;
  gap: 0.5em;
  align-items: center;
  border: 1px solid #d3d5db;
  padding: 0.5em;
  border-radius: 10px;
  width: fit-content;
  position: relative;
  top: 55%;
  align-self: flex-end;
  cursor: pointer;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0;
}
.Light {
  left: 0;
  top: 0;
  border-radius: 0 0 5px 0;
}
.Dark {
  left: 0;
  top: 0;
  border-radius: 0 0 5px 0;
  background-color: #1c1d1d !important;
}
.buttons {
  display: flex;
  align-items: center;
  gap: 1em;
}
.button1 {
  padding: 0.5em 1em;
  border-radius: 8px;
  white-space: nowrap;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.button2 {
  padding: 0.6em 1em;
  white-space: nowrap;
  border-radius: 8px;
  background-color: #c00;
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
.button1:hover,
.button2:hover {
  scale: 1.05;
}
.profilepop {
  position: absolute;
  left: -150px;
  width: 18em;
  top: 120%;
  border-radius: 5px;
  background-color: #080808;
  white-space: nowrap;
  padding: 1em;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}
.profilePShow {
  visibility: visible;
  opacity: 1;
}
.profilepop .profilePic {
  width: 5em !important;
  height: 5em !important;
}
.profilepop .picSection {
  border: none !important;
  padding: 0 !important;
}
.profilepop .flex {
  flex-direction: column !important;
}
