.loading {
  width: 3rem;
  height: 3rem;
  border: 7px solid white;
  border-top: 7px solid transparent;
  animation: rot 2s linear infinite;
  border-radius: 50%;
}
@keyframes rot {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1em;
}
.loader {
  margin: 1em;
}
.Image {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}

.main {
  transition: 0.1s linear;
  color: white;
  overflow-y: hidden;
}
.contentsDisplay {
  height: 105vh;
  /* width: 100em; */
  background-color: black;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: -56px;
  transition: 0.1s linear;
}
/* background-color: red; */
.movieList {
  overflow: hidden;
  padding: 0 1em;
  padding-top: 1em;
  /* display: flex; */
  justify-content: none !important;
  /* flex-direction: column; */
  /* background-color: red; */
  /* align-items: flex-start; */
  gap: 1em;
  /* height: 50vh; */
  transition: 0.4s;
  /* width: 100%; */
  /* background-color: green; */
}

.lineTwo::before {
  content: "";
  position: absolute;
  left: 0;
  /* bottom: 0; */
  top: 0;
  width: 100%;
  opacity: 0;
  height: 10%;
  transition: 0.4s;
  background: linear-gradient(rgb(0, 0, 0) 20%, transparent);
  background: red;

  /* z-index: 1; */
}
.lineTwoLight::before {
  background: linear-gradient(rgb(255, 255, 255) 50%, transparent) !important;
}
.lineThree::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  /* top: 0; */
  transition: 0.4s;
  width: 100%;
  height: 10%;
  background: linear-gradient(to top, rgb(0, 0, 0) 50%, transparent);
  /* background:red; */
  /* z-index: 1; */
}

.lineThreeHide::after {
  visibility: hidden;
  opacity: 0;
}
.lineThreeShow::after {
  opacity: 1;
  visibility: visible;
}
.lineTwoHide::before {
  visibility: hidden;
  opacity: 0;
}
.lineTwoShow::before {
  opacity: 1;
  visibility: visible;
}

.lineDark::after {
  background: linear-gradient(
    to top,
    rgb(255, 255, 255) 20%,
    transparent
  ) !important;
}

.scrollDown {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 1%;
  left: 25%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 3;
  color: #9b9c9c;
}
.hiddenScroller {
  opacity: 1;
  visibility: visible;
  z-index: 3;
}
.lists {
  width: 102%;
  overflow-y: hidden;
  border-radius: 10px;
  overflow-x: hidden;
  height: 50vh;
  position: relative;
  /* background-color: red; */
  /* padding: 1em; */
  /* padding-right: 0; */
}
.movieListLight::after {
  content: "";
  position: absolute;
  right: -35px;
  top: 0;
  transition: 0.4s;
  width: 10%;
  height: 100%;
  background: linear-gradient(to right, transparent, rgb(255, 255, 255) 50%);
  /* z-index: 2; */
}
.movieListDark::after {
  content: "";
  position: absolute;
  right: -35px;
  top: 0;
  width: 10%;
  transition: 0.4s;
  height: 100%;
  background: linear-gradient(to right, transparent, rgba(0, 0, 0) 50%);
  /* z-index: 2; */
}
.movieList::-webkit-scrollbar,
.storyLine::-webkit-scrollbar {
  display: none;
}
.scrollBtn {
  font-weight: 900;
  font-size: 14px;
  color: #c00;
  animation: scroll 1s linear infinite alternate;
}
@keyframes scroll {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(8px);
    @media screen and (max-width: 650px) {
      .scrollDown {
        display: none;
      }
    }
  }
}
.layer {
  /* background-color: green; */
  width: 100%;
  position: relative;
}

.RightIntro button:first-child {
  padding: 0.7em 1.7em;
  border: none;
  background-color: #c00;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 3px 5px 10px rgba(0, 0, 0);
}
.RightIntro button:last-child {
  padding: 0.7em 1.7em;
  border: none;
  background-color: rgba(255, 255, 255, 0.122);
  backdrop-filter: blur(10px);
  color: white;

  border-radius: 5px;
  cursor: pointer;
  box-shadow: 3px 5px 10px rgba(0, 0, 0);
}
.actions {
  display: flex;
  align-items: center;
  gap: 1em;
}

.intro {
  display: flex;
  gap: 1em;
  max-height: 15em;
  /* background-color: red; */
}
.intro h1 {
  font-size: 20px;
}
.overview h3 {
  font-size: 15px;
  color: #909396;
  font-weight: normal;
}
.RightIntro {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 0.5em;
  /* background-color: red; */
}
.leftIntro {
  height: 40em;
  width: 10em;
}
.movieImage {
  width: 100%;
  height: 35%;
  display: block;
  border-radius: 8px;
  /* height: 100%; */
  object-fit: cover;
}
.genres {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.image {
  max-height: 9em;
  width: 100%;
  display: grid;
  /* place-content:; */
}
.ImageMovie {
  height: 100%;
  min-width: 60%;
}
.overview {
  height: 55vh;
  /* width: 40em; */
  display: flex;
  justify-content: space-between;
  /* gap: 2em; */
}
.storyLine {
  /* background-color: red; */
  width: 50%;
  overflow: scroll;
  height: 15vh;
}
.cast {
  transform: translateY(-150px);
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 20em;
  border-right: 2px solid #0d0c0c;
  height: 55vh;
  overflow: scroll;
}
.castTwo {
  transform: translateY(-150px);
  display: flex;
  width: 22em;
  flex-direction: column;
  gap: 1em;
  height: 55vh;
  padding-bottom: 8em;
  overflow: scroll;
}
.cast::-webkit-scrollbar,
.castTwo::-webkit-scrollbar {
  display: none;
}
.castTwo h1 {
}
.castProfile {
  display: flex;
  align-items: center;
  gap: 1em;
}
.castimage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.leftCast {
  width: 5em;
  height: 5em;
  display: grid;
  place-content: center;
  overflow: hidden;
  border-radius: 50%;
}
.rightCast h3:first-child {
  font-weight: 600 !important;
  color: white;
  font-size: 13px;
}
.rightCast h3:last-child {
  /* color:white; */
  font-size: 12px;
}
.rightCast h3:nth-child(2) {
  /* color:white; */
  font-size: 12px;
}
.boxes {
  display: flex;
  gap: 1em;
  width: 20em;
  height: 9.5em;
  /* flex-direction: column-reverse; */
  /* margin: 0.5em 0; */
  cursor: pointer;
  /* width:30em; */
  padding: 0.5em;
  border-radius: 8px;
  border: 2px solid transparent;
  transition: 0.3s;
  background: #0d0c0c;
  margin: 0.5em 0;
  position: relative;
}
.boxes:hover {
  border: 2px solid #272525;
}
.Imager {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.leftS {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.topS {
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
}
.boxesDark {
  background-color: #e7e6e6fd !important;
}
.boxesDark:hover {
  border: 2px solid #c5bdbdfd;
}
.rates {
  position: absolute;
  right: 1px;
  bottom: 5px;
  display: flex;
  align-items: center;
  gap: 0.5em;
  background-color: rgba(255, 255, 255, 0.215);
  padding: 0.5em;
  border-radius: 8px;
  scale: 0.8;
  color: white !important;
}
.boxes p:first-child,
.boxes p:last-child {
  font-size: 12px;
  color: #909396;
}
.boxes h3 {
  color: white;
}
.budget {
  display: flex;
  gap: 0.5em;
  align-items: center;
  position: absolute;
  left: 42%;
  top: 50%;
}
.budget h2 {
  font-size: 15px;
}
.budget p {
  font-size: 12px;
  /* color: green; */
  font-weight: 500;
}
